<h1>Welcome, <%= @user.name %>!</h1>
<br>
<button class="btn btn-success" type="submit">Create Meetup</button>
<br><br>
<br>
<h2>All Meetups</h2>
    <br>
<% @meetups.each do |meetup|%>
    <h3><a href="/meetups/<%=meetup.id%>"><%= meetup.name %> </a><br></h3>
    <h5><%= meetup.time %></h5>
    <p><%= meetup.description%></p>
    <h5><%= meetup.location%></h5>
    <hr/>
<% end %>