
<% if is_logged_in? %>
    <h1>My Meetups</h1>
    <hr/>
    <% @meetups.each do |meetup|%>
        <h3><a href="/meetups/<%=meetup.id%>"><%= meetup.name %> </a></h3>
        
        <h5><%= meetup.time%></h5>
        
        <p><%= meetup.description%></p>
        <h5><%= meetup.location%></h5>
        <hr/>
        
    <% end %>
    

     <a class="btn btn-success" href="/meetups/create" role="button">Create Meetup</a>
        <hr/>
    
    <h1>My RSVPs</h1>
    <hr/>
        <br>
    <% @my_meetups.each do |meetup|%>
        
        <h3><a href="/meetups/<%=meetup.id%>"><%= meetup.name %> </a></h3>
        <h5><%= meetup.time%></h5>
        <p><%= meetup.description%></p>
        <h5><%= meetup.location%></h5>
        <hr/>
    <% end %>
    
<% end %>
    <br><br>
