


<h1><label>Meetup:</label></h1><br>
<h2><%= @meetup.name%></h2>

<h3><%= @meetup.time%></h3>
    <br>
<h4><label>Description:</label></h4><br>
<p><%= @meetup.description%></p>
    <br>
<h4><label>Location:</label></h4><br>
<p><%= @meetup.location%></p>
    <br>
<h4><label>Attendees:</label></h4><br>

<% @attendees.each do |attendee| %>
    <p><%= attendee.name%><p>
<% end %>
<br>

<form action="/meetups/<%= @meetup.id %>" method="post">
    <input type="submit" value="Join Meetup">
</form>
<br><br>
<a href="/my-meetups"><< Back to My Meetups</a>
<br><br>
<a href="/logout">Logout</a>
<br><br>