


<h1><label>Meetup:</label></h1><br>
<h2><%= @meetup.name%></h2>
<br>
<h4><%= @meetup.time%></h4>
<br>
<h5><label>Description:</label></h5>
<p><%= @meetup.description%></p>
    
<h5><label>Location:</label></h5>
<p><%= @meetup.location%></p>
    
<h5><label>RSVPs:</label></h5>

<% @attendees.each do |attendee| %>
    <p><%= attendee.name%><p>
<% end %>
<form action="/meetups/<%= @meetup.id %>" method="post">
    <button class="btn btn-success" type="submit">Join Meetup</button>
</form>
<br>
<br><br>